murach/MurachEx/*
murach/Murach's Java Servlets and JSP 3rd Edition (2014).pdf
GolovachEE/.idea/*
Maven_web/.idea/*
/TestWebApp_NetBeans/dist/
/TestWebApp_NetBeans/build/**
/LearnDB/nbproject/*
/LearnDB/build/
/LearnDB/dist/
/murach/*
/SQLGateway/nbproject/private/
/SQLGateway/build/
/LearnJPA/build/
/SQL_JPA_Rels/nbproject/private/