Golovach/Golovach_JavaJunior/Servlets/.idea/*
Golovach/Golovach_JavaJunior/GolovachServlets/target/*
Golovach/Golovach_JavaJunior/GolovachServlets/out/*
Golovach/Golovach_JavaJunior/GolovachEE_WEB/*

Murach/*.pdf
Murach/jsp3_allfiles/*
Murach/LearnDB/build/*
Murach/LearnDB/nbproject/*

Murach/SQLGateway/build/*
Murach/SQLGateway/nbproject/*

Murach/MurachAdvanced/build/*
Murach/MurachAdvanced/nbproject/*

Murach/LearnJPA/build/*
Murach/LearnJPA/nbproject/*
Murach/jsp3_allfiles.zip

Golovach/Golovach_JavaJunior/GolovachSpring/.idea/*
Golovach/Golovach_JavaJunior/GolovachSpring/target/*


SpringReddy/.idea
SpringReddy/SpringReddy.iml
SpringReddy/target/*